

<form method="post" action="{{path('new')}}">
    <p><input type="text" name="id" value=""/></p>
    <p>Título: <input type="text" name="titulo" value=""/></p>
    <p>Conteúdo <input type="text" name="conteudo" value=""/></p>
    <p><button type="submit">Salvar</button></p>
</form>
